body {
  font-family: 'Krub', sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
  background-color: #5f192c;
  color: #ffffff;
}
.bg-2 {
  background-color: #e5e6d8;
  color: #ffffff;
}
.bg-3 {
  background-color: #6f8a79;
  color: #555555;
}
.bg-4 {
  background-color: #422833;
  color: #ffffff;
}
.glyphicon-heart {
  color: red;
  font-size: 14px;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}
.modal-header, h4, .close {
  background-color: #422833;
  color: #e5e6d8;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.form-group {
  color: #000;
}
.modal-body button{
  background: #422833;
  color: #e5e6d8;
}
.modal-body button:hover {
  background: #e5e6d8;
  color: #422833
}
