<fieldset>
  <legend>LOG IN</legend>
  <form method="POST" action="/login">
    <label>Username:<input type="text" name="username"></label><br>
    <label>Password:<input type="text" name="password"></label><br>
    <input type="submit" id="submit">
  </form>
</fieldset>
