<!DOCTYPE html>
<html lang="en">
<head>
  <title>VINO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:900" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #f7f7f7;
      font-family: 'Roboto', sans-serif;
    }
    /* Set black background color, white text and some padding */
    footer {
      background-color: #8b9dc3;
      color: white;
      padding: 15px;
    }
    .navbar {
      background-color: #3b5998;
      border: 0;
      border-radius: 0;
    }
    .nav.navbar-nav li a {
      color: white;
    }
    .navbar-brand {
      font-family: 'Noto Sans SC', sans-serif;
      font-size: 30px;
      color: white;
    }
    .col-sm-2 {
      background-color: #ffffff;
    }
    .col-sm-3 {
      background-color: #ffffff;
    }
    .well {
      background-color: #ffffff;
    }
    .well img {
      object-fit: contain;
    }

  </style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <strong><div class="navbar-brand">vino</div></strong>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <img src="https://picsum.photos/65/65/?random" class="img-circle" alt="Avatar">
      </div>
      <div class="well">
        <p><a href="#">Interests</a></p>
        <p>
          <span class="label label-default">News</span>
          <span class="label label-primary">W3Schools</span>
          <span class="label label-success">Labels</span>
          <span class="label label-info">Football</span>
          <span class="label label-warning">Gaming</span>
          <span class="label label-danger">Friends</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-7">

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">What's in your brain, <%= current_user.name %>?</p>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button>
            </div>
          </div>
        </div>
      </div>
      <% @user.wines.each do |wine| %>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <p><a href='wines/<%=wine.id%>'><%= wine.name %></a></p>
            <p><%= wine.tasting_notes %></p>
          </div>
        </div>
      </div>
      <% end %>
      <div id="end-feed">
        <p>No more to see here!</p>
      </div>
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <img src="https://picsum.photos/400/?random" alt="Avatar">
        <p><strong>Paris</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn btn-primary">Info</button>
      </div>
      <div class="well">
        <div class="thumbnail">
        <img src="images/wine_ad_1.png" height="300" width="400" alt="Thierry and Guy wine ad">
      </div>
      </div>
      <div class="well">
        <div class="thumbnail">
        <img src="images/wine_ad_2.png">
      </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
