<!DOCTYPE html>
<html lang="en">
<head>
  <title>VINO</title>
  <meta charset="utf-8">
  <meta name="viewport">
</head>
<body>
  <h3>Welcome to Vino</h3>
  <img src="https://picsum.photos/200/300" alt="Random Image">
  <h3>The Social Wine Journal</h3>

</body>
</html>
