<!DOCTYPE html>
<html lang="en">
<head>
  <title>VINO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <style>
    .bg-1 {
      background-color: #722F37; /* Wine Red */
      color: #ffffff;
    }
  </style>
</head>
<body>
  <div class="container-fluid bg-1">
    <h3>Welcome to Vino</h3>
    <img src="https://picsum.photos/200/300" alt="Random Image">
    <h3>The Social Wine Journal</h3>
  </div>

</body>
</html>
